**/.git/
**/.husky/
**/.vscode/
*.DS_Store

**/node_modules/
dist/
coverage/

.dockerignore

Dockerfile
*.dockerfile

.gitignore
.env
.env.*
.eslintrc
.editorconfig
.gitlab-ci.yml
.nvmrc
commitlint.config.js
