/node_modules
/.next
.DS_Store
/cypress/videos
/cypress/screenshots

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# compiled files for custom nextjs server
.cypress
